.mainMenu {
  height: 3em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0em 2em;
  position: fixed;
  z-index: 99;
  background-color: var(--bgMain);
}

.mainMenu__logo_container {
  display: flex;
  align-items: center;
}

.mainMenu__logo {
  font-size: 1rem;
}

.mainMenu__ul,
.mainMenu__control_ul {
  display: flex;
  gap: 1em;
  align-items: center;
}

.mainMenu__ul {
  gap: 0em;
}

.mainMenu__control_span {
  transition: transform 0.2s;
}

.mainMenu__control_span:hover {
  transform: scale(1.15);
}

.mainMenu__li--icon {
  display: none;
}

.mainMenu__li {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  font-weight: var(--textMedium);
  height: 100%;
  padding: 0 0.9em;
  transition: background-color 0.4s, max-width 0.5s;
}

.mainMenu__li:hover {
  background-color: var(--bgOpposite);
  color: var(--textOpposite);
}

.littleMenu {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
  background-color: var(--bgMain);
  transition: transform 0.5s ease;
}

.littleMenu__ul {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  text-align: center;
}

.littleMenu__logo_container {
  display: flex;
  align-items: center;
  margin-bottom: 1.5em;
}

.littleMenu__logo {
  font-size: 1.3rem;
}

.littleMenu__control_ul {
  display: flex;
  flex-direction: row;
  margin-bottom: 2.5em;
  gap: 1.5em;
}

.littleMenu__btn {
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: end;
  z-index: 1000;
  transform: scale(0);
}

.littleMenu__btn--icon {
  font-size: 2.3rem;
  /* color: var(--text) */
  color: var(--text);
  margin-right: 0.3em;
  margin-top: 0.3em;
}

.hiddenMenu {
  transform: translateX(-10000px);
}

.showMenu {
  transform: scale(1);
}


/*********** Media Query ***********/

@media (max-width:950px)  {
  .mainMenu {
    transform: scale(0);
  }

  .littleMenu__btn {
    transform: scale(1);
  }
}
